<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a (click)="navigateTo('dashboard')"  class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5 d-none d-sm-inline title-font"> <i class="fa fa-solid fa-syringe"></i> DoctorHub </span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start secondary-font" id="menu">
        <li class="nav-item hover-animation">
            <a (click)="navigateTo('dashboard')" class="nav-link align-middle px-0">
                <i class="fa fa-calendar-check"></i>
                <span class="ms-1 d-none d-sm-inline">
                  Dashboard
                </span>
            </a>
        </li>
        <li class="nav-item hover-animation">
          <a (click)="navigateTo('doctors')" class="nav-link align-middle px-0">
            <i class="fa fa-solid fa-user-doctor"></i> <span class="ms-1 d-none d-sm-inline"> Médicos</span>
          </a>
      </li>
      <li class="nav-item hover-animation">
        <a (click)="navigateTo('patients')"  class="nav-link align-middle px-0">
          <i class="fa fa-user-injured"></i><span class="ms-1 d-none d-sm-inline">Pacientes</span>
        </a>
      </li>
      <li class="nav-item hover-animation">
        <a (click)="navigateTo('schedules')" class="nav-link align-middle px-0">
          <i class="fas fa-stethoscope"></i><span class="ms-1 d-none d-sm-inline">Consultas</span>
        </a>
      </li>
    </ul>
    <hr>
    
</div>