<div class="container-fluid">
    <h4 class="title-font"> 
        <i class="fa fa-user-doctor"></i>
        Cadastro de médicos
    </h4>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <app-new-doctor></app-new-doctor>
        </div>
    </div>

    <div class="row mt-5 data-font">
        <div class="col-md-12">
            <div class="card-box p-4">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <table class="table">
                            <thead>
                                <th scope="col"> Doutor </th>
                                <th> Usuário </th>
                                <th> Especialidade </th>
                                <th> Ações </th>
                            </thead>
                            <tbody>
                                <tr class="tr-done mt-2 hover-animation hover-animation-sm">
                                    <td> Fulano </td>
                                    <td> fulano@doc.com </td>
                                    <td> Cardiologista </td>
                                    <td class=>
                                        <button class="btn btn-md btn-primary">
                                            <i class="fa fa-eye"></i> Visualizar
                                        </button>
                                        <button class="btn btn-md btn-danger m-1">
                                            <i class="fa fa-times"></i> Remover
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>