<div class="container-fluid">
    <h4 class="title-font"> 
        <i class="fa fa-user-injured"></i>
        Cadastro de pacientes
    </h4>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <app-new-patient (patientInserted)="getPatients()"></app-new-patient>
        </div>
    </div>

    <div class="row mt-5 data-font">
        <div class="col-md-12">
            <div class="card-box p-4">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <table class="table">
                            <thead>
                                <th scope="col"> Paciente </th>
                                <th> Telefone </th>
                                <th> E-mail </th>
                                <th> Ações </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let patient of patients"
                                    class="tr-done mt-2 hover-animation hover-animation-sm">
                                    <td> {{ patient.fullname }} </td>
                                    <td> {{ patient.phone }} </td>
                                    <td> {{ patient.email }} </td>
                                    <td class=>
                                        <app-view-patient
                                            [selectedPatient]=patient
                                            (patientUpdated)=getPatients()></app-view-patient>
                                        <button class="btn btn-md btn-danger m-1">
                                            <i class="fa fa-times"></i> Remover
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>