
<button class="btn btn-lg btn-success" (click)="openModal(modal)">
    <i class="fa fa-plus-circle"></i>
    Cadastrar novo médico
</button>

<ng-template #modal>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title"> <i class="fa fa-user-doctor"></i> Novo médico </h3>
            <hr>
        </div>
        <div class="modal-body">
            <form [formGroup]="form">
                <div class="row mt-1">
                    <div class="col-md-12">
                        <label>Nome completo:</label>
                        <input type="text" class="form-control" formControlName="fullname">
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-md-12">
                        <label>Nome de usuário:</label>
                        <input type="text" class="form-control" formControlName="username">
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-md-6">
                        <label>Senha:</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <div class="col-md-6">
                        <label>Especialidade</label>
                        <select class="form-control" formControlName="specialty">
                            <option [selected]="true">Cardiologista</option>
                            <option>Clínico geral</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()"> 
                <i class="fa fa-times-circle"></i>
                Cancelar
            </button>
            <button type="button" class="btn btn-success" (click)="insertDoctor()">
                <i class="fa fa-plus-circle"></i>
                Cadastrar
            </button>
        </div>
    </div>
</ng-template>