<div class="container-fluid">
    <h3 class="title-font"> 
        <i class="fa fa-comment-medical"></i>
        Olá, Dr. Fulano! </h3>

    <div class="row mt-5 data-font d-flex">
        <div class="col-md-6">
            <div class="dashboard-box">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h5 class="my-3"> <i class="fa fa-calendar-day"></i> <b> Consultas de hoje (15/02) </b> </h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <table class="table">
                            <thead>
                                <th scope="col"> Paciente </th>
                                <th> Horário </th>
                                <th> Atendimento </th>
                            </thead>
                            <tbody>
                                <tr class="tr-done">
                                    <td> Ciclano </td>
                                    <td> 14:20 </td>
                                    <td> <i class="ml-2 fa fa-check text-success"></i> Executado </td>
                                </tr>
                                <tr class="tr-canceled">
                                    <td> Beltrano </td>
                                    <td> 17:30 </td>
                                    <td> <i class="ml-5 fa fa-times text-danger"></i> Cancelado </td>
                                </tr>
                                <tr>
                                    <td> Fulano </td>
                                    <td> 18:45 </td>
                                    <td> <i class="ml-5 fa fa-spinner fa-spin"></i> Pendente </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="dashboard-box">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h5 class="my-3"> <i class="fa fa-calendar-week"></i> <b> Consultas de amanhã (16/02) </b> </h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <table class="table">
                            <thead>
                                <th scope="col"> Paciente </th>
                                <th> Horário </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Fulano </td>
                                    <td> 12:15 </td>
                                </tr>
                                <tr>
                                    <td> Fulano </td>
                                    <td> 17:20 </td>
                                </tr>
                                <tr>
                                    <td> Fulano </td>
                                    <td> 18:45 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>