<div class="container-fluid">
    <h3 class="title-font"> 
        <i class="fa fa-comment-medical"></i>
        Olá, Dr(a). {{ doctor.fullname }}! </h3>

    <div class="row mt-5 data-font d-flex">
        <div class="col-md-6">
            <div class="card-box">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h5 class="my-3"> <i class="fa fa-calendar-day"></i> <b> Consultas de hoje ({{todayDate}}) </b> </h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <table class="table">
                            <thead>
                                <th scope="col"> Paciente </th>
                                <th> Horário </th>
                                <th> Atendimento </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let schedule of todaySchedules"
                                    class="hover-animation hover-animation-sm"
                                    [ngClass]="{
                                        'tr-done': schedule.status?.code === 1,
                                        'tr-canceled': schedule.status?.code === 2,
                                        'tr-pending': schedule.status?.code === 3}">
                                    <td> {{ schedule.patient?.fullname }} </td>
                                    <td> {{ schedule?.hour }} </td>
                                    <td> <i 
                                        class="ml-2 fa "
                                        [ngClass]="{
                                            'fa-check text-success': schedule.status?.code === 1,
                                            'fa-times text-danger': schedule.status?.code === 2,
                                            'fa-spinner fa-spin': schedule.status?.code === 3}"></i> {{ schedule.status?.description }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-box">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h5 class="my-3"> <i class="fa fa-calendar-week"></i> <b> Consultas de amanhã ({{tomorrowDate}}) </b> </h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <table class="table">
                            <thead>
                                <th scope="col"> Paciente </th>
                                <th> Horário </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let schedule of tomorrowSchedules" class="hover-animation hover-animation-sm">
                                    <td> {{ schedule.patient?.fullname }} </td>
                                    <td> {{ schedule.hour }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>