/* You can add global styles to this file, and also import other style files */
.title-font {
    font-family: 'MuseoModerno', cursive;
}

.secondary-font {
    font-family: 'Staatliches', cursive;
    font-size: 190%;
}