<div class="container-fluid">
    <h4 class="title-font"> 
        <i class="fa fa-stethoscope"></i>
        Cadastro de consultas
    </h4>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <app-new-schedule
                [status]=status
                [specialties]=specialties
                [doctors]=doctors
                [patients]=patients
                (scheduleInserted)=getData()
            ></app-new-schedule>
        </div>
    </div>

    <div class="row mt-5 data-font">
        <div class="col-md-12">
            <div class="card-box p-4">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <table class="table">
                            <thead>
                                <th scope="col"> Paciente </th>
                                <th> Doutor </th>
                                <th> Especialidade </th>
                                <th> Data </th>
                                <th> Ações </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let schedule of schedules"
                                    class="tr-done mt-2 hover-animation hover-animation-sm">
                                    <td> {{ schedule.patient.fullname }} </td>
                                    <td> {{ schedule.doctor.fullname }} </td>
                                    <td> {{ schedule.specialty.description }} </td>
                                    <td> {{ schedule.date }} </td>
                                    <td class=>
                                        <button class="btn btn-md btn-primary">
                                            <i class="fa fa-eye"></i> Visualizar ficha de atendimento
                                        </button>
                                        <button 
                                            (click)=cancelSchedule(schedule.code)
                                            *ngIf="schedule.status.code != 2; else canceled" class="btn btn-md btn-danger m-1">
                                            <i class="fa fa-times"></i> Cancelar consulta
                                        </button>
                                        <ng-template #canceled>
                                            <button class="btn btn-md btn-outline-danger m-1" disabled>
                                                <i class="fa fa-times"></i> Cancelada
                                            </button>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>